<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{/mdb/css/mdb.min.css}" rel="stylesheet"/>
    <link th:href="@{/mdb/css/style.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/mdb/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />-->


    <!-- Material Design Bootstrap -->

    <title>Login page for restaurators</title>
</head>
<body>
<header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-inverse navbar-dark navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img th:src="@{/mdb/img/logo/foodlove-02.svg}" height="150"/></a>

        </div>

    </nav>
    <!--/.Navbar-->
</header>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">


            <div class="card">
                <div class="card-body">
                    <form th:action="${'/restaurators/1'}" method="post">
                        <!--Header-->
                        <div class="form-header default-color">
                            <h3>Login</h3>
                        </div>

                        <!--Body-->
                        <div class="md-form">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="text" id="defaultForm-email" class="form-control"/>
                            <label for="defaultForm-email">Your email</label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <input type="password" id="defaultForm-pass" class="form-control"/>
                            <label for="defaultForm-pass">Your password</label>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-default">Login</button>
                        </div>
                    </form>
                </div>

                <!--Footer-->
                <div class="modal-footer">
                    <div class="options">
                        <p>Not a member? <a href="#">Sign Up</a></p>
                        <p>Forgot <a href="#">Password?</a></p>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <div class="row">
        <div class="col"><a href="/">Back to Home Page</a></div>
    </div>

</div>
</body>
<script th:src="@{/dashboard/js/jquery-3.1.0.min.js}" type="text/javascript"></script>
<script th:src="@{/dashboard/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/dashboard/js/material.min.js}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</html>