<!DOCTYPE html>
<html>
<head>
    <title>Panel Restauratora</title>
</head>
<body>
<h1>Panel Restauratora służy do zarządzania restauracjami, danymi, docelowo pracownikami i ich uprawnieniami.</h1>
<h2>Na razie powinien mieć możliwość wejścia do swojej 1 restauracji, którą posiada</h2>


<a href="/restaurators/1/restaurants/1">Restauracja numer 1</a><br/>
<img src="http://www.belvederehotel.pl/uploads/image/szymanowskiego-300px-2.jpg" /><br/>

<a href="/restaurators/1/restaurants/2">Restauracja numer 2</a><br/>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Hotel_Astoria_Komor%C3%B3w.JPG/300px-Hotel_Astoria_Komor%C3%B3w.JPG" /><br/>


<a href="/restaurators/login">Wyloguj</a>
</body>
</html>