<!DOCTYPE html>
<html>
<head>
    <title>Panel Restauracji</title>
</head>
<body>
<h1>Panel Restauratora tzw Panel główny - największy z paneli dostępnych w FoodLove!.</h1>
<h2>Powinien zawierać panel boczny na którym znajduje się</h2>
<ul>
    <li>Utwórz nową promocję</li>
    <li>Promocje CRUD</li>
    <li>Produkty CRUD</li>
    <li>Powrót do panelu restauratora</li>
</ul>


<a href="/restaurators/1/restaurants/1/promotions/add">Utwórz nową promocję (Formularz do dodawania promocji)</a><br/>
<a href="/restaurators/1/restaurants/1/promotions/">Promocje lista CRUD</a><br/>
<a href="/restaurators/1/restaurants/1/products/add">Dodaj produkt</a><br/>
<a href="/restaurators/1/restaurants/1/products/">Produkty lista CRUD</a><br/>
<a href="/restaurators/1">Powrót do panelu restauratora</a>
</body>
</html>