<!DOCTYPE html>
<html>
<head>
    <title>Formularz dodawania promocji</title>
</head>
<body>
<h1>Formularz dodawania produktu który zawiera:</h1>
<ul>
    <li>Rozwijaną liste produktów -  z produktem do wyboru (ostatnia rzecz na liście to link "dodaj prod"</li>
    <li> Przycisk do dodania produktu na widoku</li>
    <li>Ilość</li>
    <li>Cena jednostkowa</li>
    <li>%Promocjii</li>
    <li>Cena po promocji</li>
    <li>Data i godzina startu promocji</li>
    <li>Data i godzina końca promocji</li>
    <li>Switch dla statusu aktywna/nieaktywna</li>
    <li>Przycisk dodania promocjii</li>
</ul>


<a href="/restaurators/1/restaurants/1/">Przycisk Submit( Dodaj promocję) metoda post</a><br/>

<a href="/restaurators/1/restaurants/1/">Wyjście z formularza</a><br/>


</body>
</html>