<!DOCTYPE html>
<html>
<head>
    <title>Lista promocji dla widoczna dla panelu Restauracji</title>
</head>
<body>
<h1>Lista aktualnych promocji</h1>
<h2>Widoczna po wejściu na strone restauracji</h2>
<h2>Powinien zawierać przyciski</h2>
<ul>
    <li>Dodaj promocje (przenosi do formularza)</li>
    <li>Edytuj</li>
    <li>Usuń</li>
    <li>Szybki przycisk aktywny/nieaktywny</li>
    <li>Wszystko w postaci tabelki - jak na razie </li>
</ul>


<a href="/restaurators/1/restaurants/1/promotions/1">Detale promocji 1</a><br/>
<a href="/restaurators/1/restaurants/1/promotions/edit/1">Edytuj promocję 1</a><br/>
<a href="/restaurators/1/restaurants/1/promotions/delete/1">Usuń promocję 1</a><br/>
<a href="/restaurators/1/restaurants/1/promotions/add">Utwórz nową promocję (Formularz do dodawania promocji)</a><br/>


<a href="/restaurators/1">Powrót do panelu restauratora</a>
</body>
</html>