<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Panel Restauracji</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../css/style.css" />
</head>
<body>

<table border="0" width="100%" cellspacing="0" cellpadding="0" background="/images/toptlo.gif">
    <tr valign="top">
        <td width="50%"><img border="0" src="/images/tlologo.gif" width="236" height="89"/></td>
        <td width="50%" height="89">
            <h1 class="logo">FoodLove menager 2000&nbsp;&nbsp;</h1>
            <p class="logo" th:text="'Jesteś na stronie do zarządzania restauracją: ' + ${restaurant.name}">nazwa restauracji&nbsp;&nbsp;</p></td>
    </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="184px" background="/images/tlo.gif" valign="top">
            <img border="0" src="/images/menu.gif" width="184" height="39" alt="stdarek"/><br/>
            <table ID="navigate" cellpadding="0" cellspacing="0" border="0">
                <tr><td class="menu"><a th:href="${'/restaurators/'+restaurant.restaurator.id+'/restaurants/'+restaurant.id+'/promotions/add'}">Nowa Promocja</a><br/></td></tr>
                <tr><td class="menu"><a th:href="${'/restaurators/'+restaurant.restaurator.id+'/restaurants/'+restaurant.id+'/promotions/'}">Promocje CRUD</a><br/></td></tr>
                <tr><td class="menu"><a th:href="${'/restaurators/'+restaurant.restaurator.id+'/restaurants/'+restaurant.id+'/products/add'}">Dodaj produkt</a><br/></td></tr>
                <tr><td class="menu"><a th:href="${'/restaurators/'+restaurant.restaurator.id+'/restaurants/'+restaurant.id+'/products/'}">Produkty CRUD</a><br/></td></tr>
                <tr><td class="menu"><a th:href="${'/restaurators/'+restaurant.restaurator.id}">Panel Restauratora</a></td></tr>

            </table>
            <br/><br/>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </td>
        <td valign="top"><br/>
            <h1>Lista aktualnych promocji</h1>
            <h2>Widoczna po wejściu na strone restauracji</h2>
            <h2>Powinien zawierać przyciski</h2>
            <ul>
                <li>Dodaj promocje (przenosi do formularza)</li>
                <li>Edytuj</li>
                <li>Usuń</li>
                <li>Szybki przycisk aktywny/nieaktywny</li>
                <li>Wszystko w postaci tabelki - jak na razie </li>
            </ul>


            <a href="/restaurators/1/restaurants/1/promotions/1">Detale promocji 1</a><br/>
            <a href="/restaurators/1/restaurants/1/promotions/edit/1">Edytuj promocję 1</a><br/>
            <a href="/restaurators/1/restaurants/1/promotions/delete/1">Usuń promocję 1</a><br/>
            <a href="/restaurators/1/restaurants/1/promotions/add">Utwórz nową promocję (Formularz do dodawania promocji)</a><br/>


            <a href="/restaurators/1">Powrót do panelu restauratora</a>
            <p>&nbsp;</p>
            <p class="stopka"/>&copy; COPYRIGHT 2017 ALL RIGHTS RESERVED</td>
    </tr>
</table>

</body>

</html>